body {
    font-family: 'Inter', sans-serif;
    background-color: #0d0d0d;
    color: #ffffff;

    /* Fondo con la imagen local */
    background-image: url('fondo abstracto futurista.jpg');
    background-size: cover; /* La imagen cubre todo el espacio */
    background-position: center; /* La imagen se centra */
    background-attachment: fixed; /* El fondo no se mueve con el scroll */
}

html {
    scroll-behavior: smooth;
}
